@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap);
.c-header {
  background-color: #000;
  padding: 22px 25px;
}

.c-authForm {
  padding: 81px 0 60px;
  width: 680px;
  margin: auto;
}
.c-authForm_title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.c-authForm_inputGroups {
  margin-top: 45px;
}
.c-authForm_inputGroup:not(:first-child) {
  margin-top: 33px;
}
.c-authForm_label {
  font-size: 24px;
  font-weight: bold;
}
.c-authForm_input {
  margin-top: 5px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
}
.c-authForm_btns {
  margin-top: 93px;
  text-align: center;
}
.c-authForm_submitBtn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}
.c-authForm_link {
  font-size: 20px;
  color: #0073CC;
  margin-top: 20px;
  display: inline-block;
}

.c-authMail {
  padding: 237px 0;
  width: 720px;
  margin: auto;
  text-align: center;
}
.c-authMail_text {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}
.c-authMail_btns {
  margin-top: 62px;
  text-align: center;
}
.c-authMail_button {
  background-color: #D9D9D9;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 33px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
.c-authMail_link {
  font-size: 20px;
  color: #0073CC;
  margin-top: 52px;
  display: inline-block;
}

html {
  font-family: "Noto Sans JP", "Inter", serif;
}
