.p-stampCorrectionRequestList_table {
  margin-top: 46px;
}
.p-stampCorrectionRequestList_link {
  font-size: 16px;
}
.p-stampCorrectionRequestList_link.--active {
  font-weight: bold;
}
.p-stampCorrectionRequestList_link:not(:first-child) {
  margin-left: 106px;
}
.p-stampCorrectionRequestList_links {
  padding: 0 0 17px 57px;
  border-bottom: 1px solid #000;
  margin-top: 65px;
}
